#edit-header {
	color:white;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-size: 16px;
	gap: 10px;
}

section {
	margin-left:245px;
	margin-right:245px;
}

#introduction {
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	margin-bottom: 150px;
}

#introduction img {
	height: 355px;
}

#introduction article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 72px;
	max-width: 42%;
}

#introduction h2 {
	margin-bottom: 1em;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 17px;
	grid-row-gap: 17px;
}

#portfolio {
	margin-bottom: 55px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.filters button {
	border: 1px solid var(--main-color);
	border-radius: 20px;
	background-color: var(--main-background-color);
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: var(--main-color);
	min-width: 100px;
}

.filters button:hover {
	background-color: var(--main-color);
	color: white;
}

.gallery figcaption {
	font-size: 13px;
	font-weight: 400;
	color: var(--second-txt-color);
	margin-top: 7px;
}

.projets-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projets-edit {
	padding-left: 15px;
}

.projets-edit a {
	padding-left: 15px;
}

.projets-edit i {
	padding-right: 10px;
}

#contact p {
	margin-top: 9px;
}