/* section {
	margin-left:245px;
	margin-right:245px;
} */

#introduction, #portfolio {
	max-width: 950px;
	margin-left:245px;
	margin-right:245px;
	margin: auto;
}

#introduction {
	display: flex;
	justify-content: center;
	gap:72px;
	margin-top: 150px;
	margin-bottom: 150px;
	
}

#introduction img {
	height: 355px;
	/* max-width: 474px; */
}

#introduction article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 404px;
}

#introduction h2 {
	margin-bottom: 1em;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 17px;
	grid-row-gap: 17px;
}

#portfolio {
	margin-bottom: 55px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.filters button {
	border: 1px solid var(--main-color);
	border-radius: 20px;
	background-color: var(--main-background-color);
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: var(--main-color);
	min-width: 100px;
}

.filters button:hover {
	background-color: var(--main-color);
	color: white;
}

.gallery figcaption {
	font-size: 13px;
	font-weight: 400;
	color: var(--second-txt-color);
	margin-top: 7px;
}

.projets-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projets-edit {
	padding-left: 15px;
}

.projets-edit a {
	padding-left: 15px;
}

.projets-edit i {
	padding-right: 10px;
}

#contact p {
	margin-top: 9px;
}


/******************************/
/********* RESPONSIVE *********/
/******************************/
@media (max-width: 1024px) {
	/* Enlever les margin et padding sur les bords */
	#introduction {
		/* display: flex;
		justify-content: center;
		gap:50px;
		margin-top: 150px;
		margin-bottom: 150px; */
		padding-left: 5px;
		padding-right: 5px;
		gap:10px;
	}
}


@media (max-width: 768px) {
	/* Enlever les margin et padding sur les bords */
	#introduction {
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap:30px;
	}

	#introduction article {
		max-width: 90%;
	}

	#introduction img {
		height: 200px;
	}

	.filters {
		flex-wrap: wrap;
	}

	.filters button {
		width: 60%;
	}
	
	#portfolio {
		padding-left: 5px;
		padding-right: 5px;;
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	/* Soit mettre aricle au dessus ou en dessous de la photo, soit cacher photo*/
	}