/******************************/
/*** AFFICHAGE DE LA MODALE ***/
/******************************/
.modal-wrapper {
	width: 630px;
	/* max-width: calc(100vw - 20px); 100vh 1 x la largeur de l'écran */
	/* max-height: calc(100vh - 20px); 100vh 1 x la hauteur de l'écran */
	background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.modal {
	position : fixed; /* Permet à la boîte modal d'occuper l'entièreté de l'écran */
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0, 0 ,0 , 0.3);
}

/******************************/
/**** CONTENU DE LA MODALE ****/
/******************************/

/* CSS en commun */

/* class utilisé à l'ouverture de la modale */
.icone-modal-deleteView {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding-top: 51px;
	padding-right: 54px;
	padding-bottom: 10px;
}
/* class utilisé à l'ouverture de la 2eme vue modale ajouter photo */
.icone-modal-addView {
	box-sizing: border-box;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
	padding-top: 26px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
}

#btn-xmark-close, #prevBtn-photoView{
    background-color: white;
    border: none;
	padding: 0;
	margin: 0;
}

#title-modal-gallery {
    color : black;
	text-align: center;  
	font-size: 26px;
}

/* CSS de la partie Galerie photo */
#galleryView {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-left: 80px;
	padding-right: 125px;
	padding-bottom: 20px;
}

.modal-photos {
	position: relative;
	margin-top: 46px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 30px;
	width: 100%;
	max-height: 370px;
	overflow: auto;
}

.modal-photos div {
	width: 100%;
	position: relative;
}

.modal-photos img {
	width: 100%;
	/* max-width: 100%;  */
	display: block;
    height:auto;
}

.modal-photos a {
	position: absolute;
    top: 6px; /* Distance par rapport au haut de l'image */
    right: 5px; /* Distance par rapport au côté droit de l'image */
    color: white;
    width: 17px;
	height: 17px;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-trash-can {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

.modal-bar {
	height: 1px;
	background-color: var(--modal-bar-color);
	margin-top: 68px;
	margin-bottom: 38px;
	width: 100%;
}

#openAddPhotoView {
margin :0;
}

/* CSS de la partie Ajouter photo */
#addPhotoView {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.modal-form {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
}

.custom-file-upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--modal-addPhoto-backgroung);
	border-radius: 5px;
	margin-bottom: 15px;
}

.custom-file-upload input[type="file"] {
	display: none;
}

.fa-image {
	font-size: 5em;
	margin-top: 5px;
	margin-bottom: 5px;
	color: var(--modal-addPhoto-color-icone);
}

.modal-form-txt {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--modal-addPhoto-color-icone);
	color: var(--modal-addPhoto-color-txt);
}

.modal-form-txtFormat {
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}