* {
	margin : 0;
	padding :0;
	box-sizing: border-box;/* Pour que le padding soit prise en compte dans le calcul des largeurs */
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.filters button {
	border: 1px solid var(--main-color);
	border-radius: 20px;
	background-color: white;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: var(--main-color);
	min-width: 100px;
}

.filters button:hover {
	background-color: var(--main-color);
	color: white;
}

.gallery figcaption {
	font-size: 13px;
	font-weight: 400;
	color: #3D3D3D;
	margin-top: 7px;
}

.projets-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projets-edit {
	padding-left: 15px;
}

.projets-edit a {
	padding-left: 15px;
	text-decoration : none;
	color : black;
}

.projets-edit i {
	padding-right: 10px;
}

.projets-edit a:hover {
    color: var(--main-h1-color);;
}


