<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Sophie Bluel - Architecte d'intérieur</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=Work+Sans&display=swap" rel="stylesheet">
	<meta name="description" content="">
	<link rel="stylesheet" href="./assets/css/global.css">
	<link rel="stylesheet" href="./assets/css/modal.css">
	<script src="https://kit.fontawesome.com/5d6dcc7e2f.js" crossorigin="anonymous"></script>
	<script type="module" src="./assets/script/modal/modal.js" defer></script>
</head>

<body>
    <main>
        <aside id="modal1" class="modal" role="dialog" aria-labelledby="title-modal" aria-hidden="true">
            <div class="modal-wrapper js-modal-stop">
        
                <div id="modalNav" class="icone-modal-deleteView">
                    <button id="btn-xmark-close" class="js-modal-close"><i class="fa-solid fa-xmark"></i></button>
                    <button id="prevBtn-photoView" style="display: none;"><i class="fa-solid fa-arrow-left"></i></button>
                </div>
        
                <!-- Vue Galerie photo -->
                <div id="galleryView">
                    <p id="title-modal-gallery">Galerie photo</p>
                    <div class="modal-photos">
                        <!-- Les photos sont insérées ici dynamiquement -->
                    </div>
                    <div class="modal-bar" id="modalBarViewGallery"></div>
                    <input type="button" id="openAddPhotoView" class="js-modal" value="Ajouter une photo">
                </div>
        
                <!-- Vue Ajout photo -->
                <div id="addPhotoView" style="display: none;">
                    <h2 id="title-modal">Ajout photo</h2>
        
                    <form class="modal-form" id="uploadForm" name="fileinfo" enctype="multipart/form-data" >
                        <!-- Boîte + Ajouter photo -->
                         <label for="imageUpload" class="custom-file-upload">
                            <div id="modalContainerPreviewTxt" class="form-container-no-img-charge">
                                <i class="fa-regular fa-image"></i> 
                                <div id="modalContainerFormTxt"> 
                                    <p class="modal-form-txt">+ Ajouter photo</p>
                                </div>
                                <p class="modal-form-txtFormat">jpeg, png : 4mo max</p>
                            </div>
                            <!-- Prévisualisation de l'image -->
                             <div id="divImagePreview" class="form-container-img-preview">
                                <img id="imagePreview" class="form-img-preview" src="" alt="Prévisualisation de l'image"/>
                             </div>
                            <input 
                                type="file" 
                                name="image"
                                id="imageUpload" 
                                accept="image/png, image/jpeg" required/>
                         </label>
        
                        <label for="title">Titre</label>
                        <input type="text" id="title" name="title" pattern="^[a-zA-Z0-9À-ÿ\s]{1,63}$" required/>
    
                        <label for="category">Catégorie</label>
                        <select id="category" name="category" required>
                            <!-- <option value="" disabled selected></option> -->
                            <option value=""></option>
                            <!-- <option value="1" disabled selected>bidon</option> -->
                            <!-- Option générer dynamiquement -->
                        </select>
                        <div class="modal-bar" id="modalBarAddImg"></div>
                        <input class="btn-Send-Photo" id="btnSendImg" type="submit" value="Valider">
                    </form> 
                </div>
            </div>
        </aside>
    </main>
</body>
</html>


